.footer {
  margin-block-start: 2rem;
  color: inherit;
}

.footer__social {
  padding: 2rem;
  background-color: var(--green-deep-clr);
  border-start-end-radius: 1.5rem;
  border-start-start-radius: 1.5rem;

  h2 {
    text-align: center;
    font-family: "Bubblegum Sans", sans-serif;
    font-size: 2rem;
    margin: 0;
  }
}

.legal-social__list {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-block: 2rem 0;
  padding: 0;
  list-style-type: none;
}

.legal-social__item {
  img {
    display: block;
    width: 3rem;
    aspect-ratio: 1;
  }
}

.footer__bottom {
  background-color: var(--green-light-clr);
  padding-block: 2.5rem;
}

.footer__inner {
  display: flex;
  justify-content: center;
  align-items: baseline;
  flex-wrap: wrap;
  gap: 3rem;
  font-size: 0.8rem;
}

.legal-nav__list {
  display: flex;
  list-style-type: none;

  a {
    display: block;
    padding: 0.4rem 0.4rem;
    color: inherit;
  }

  a:hover {
    color: var(--brand-dark-clr);
  }
}

.wrapper footer__inner {
  display: flex;
}
