:root {
  --orangeDark: #905922;
  --orange: #d4a373;
  --orangeLight: #faedcd;
  --bgLight: #fefae0;
  --greenLight: #fefae0;
  --green: #ccd5ae;
  --textDark: #151515;
  --textLight: #fcfcf3;
}

@import url("body.css");
@import url("/WD-51-weekend/styles/header.css");
@import url("hero.css");
@import url("activities.css");
@import url("events.css");
@import url("partners.css");
@import url("footer.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  background-color: var(--bgLight);
}

/* Header area start */
#header {
  background-color: var(--orangeDark);
  color: var(--textLight);
  position: fixed;
  width: 100%;
}

.header-container {
  padding: 0.6rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  width: 70vw;
  max-width: 900px;
}

.head-Logo {
  display: flex;
  align-items: center;
  gap: 0.2rem;
  padding: 2px 0.4rem;
  height: 36px;
  text-decoration: none;
  color: var(--textLight);
  cursor: pointer;
}

.head-Logo:hover {
  border: 1px solid yellow;
  border-radius: 0.4rem;
}

.head-Logo span {
  font-size: 1.4rem;
}

.head-Logo p {
  font-family: "Bubblegum Sans", sans-serif;
  font-size: 1.2rem;
  color: var(--textLight);
}

.nav-buttons {
  display: flex;
  gap: 0.8rem;
}

.nav-buttons li {
  list-style: none;
}
.nav-buttons li a {
  text-decoration: none;
  color: var(--textLight);
  font-size: 0.8rem;
  font-weight: 600;
  text-align: center;
}

.nav-buttons li a:hover {
  color: yellow;
  text-decoration: underline;
  text-underline-offset: 0.4rem;
}

/* Header area end */

/* Start Main area */
#main {
  border: 2px solid;
  padding-top: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  width: 80vw;
  max-width: 900px;
}
