.partners {
  background-color: rgb(244, 209, 143);
  margin: 0 auto;
  border-radius: 1rem;
  padding: 2rem;
  margin-bottom: 4rem;
}

.partners h2 {
  font-family: "Bubblegum Sans", sans-serif;
  text-align: center;
  font-size: 2rem;
  margin-bottom: 1.4rem;
}
section .partner-cards {
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 8px;
}
.lidl-pic img {
  border-radius: 1rem 1rem 0 0;
  width: 80px;
  height: 60px;
  object-fit: cover;
  padding: 2px;
}

.partner-cards h3 {
  color: rgb(40, 40, 40);
  padding-left: 6px;
  font-size: 0.9rem;
}
.partners-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  padding-top: 0.8rem;
}
